{% extends 'post/base.html' %}

{% block content %}
    {% if type_filter == 'tag_filter' %}
        <h2> Посты с тегом: {{ tag.tag_name }} </h2>
    {% elif type_filter == 'category_filter' %}
        <h2> Посты с категорией: {{ category.category_name }} </h2>
    {% elif type_filter == 'favorites_filter' %}
        <h2> Избранное </h2>
    {% else %}
        <div class="btn-group">
            <a class="btn btn-default" style="background: transparent; min-width: 180px;
                border-bottom-left-radius: 25px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
                border-width: 3px; "  href="{% url 'recommended_list' order=1 %}"> по лайкам </a>
            <a class="btn btn-default" style="background: transparent; min-width: 180px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
                border-width: 3px; "  href="{% url 'recommended_list' order=2 %}"> по просмотрам </a>
            <a class="btn btn-default" style="background: transparent; min-width: 180px;
                border-bottom-right-radius: 25px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
                border-width: 3px; "  href="{% url 'recommended_list' order=3 %}"> по комментариям </a>
        </div> <br> <br>
    {% endif %}

    <br> <br>

    {% for post in posts %}
<!--        <div class="col-sm-6">-->
<!--        <div class="col-sm-6 col-md-5">-->
        <div class="card" style="width: 70rem;">
            <div class="thumbnail" style="margin-bottom: 20px">
<!--                <div class="card-body">-->
                <div class="caption">
                    <div class="post" style="margin-bottom: 5px; padding-bottom: 5px">

                        <h1><a href="{% url 'post_detail' post_pk=post.pk %}">{{ post.title }}</a></h1>

                        {% if post.image %}
                        <img src="{{post.image.url}}" class="img-responsive">
                        {% endif %}

                        <div class="date">
                            <p>
                                <i class="fas fa-user"></i> {{ post.author }} &nbsp
                                <i class="far fa-calendar-alt"></i> {{ post.created_date }} &nbsp
                                <i class="far fa-folder-open"></i> {{ post.category.category_name }}
                            </p>
                            <p> <i class="far fa-eye"></i> {{ post.view }} &nbsp
                                <i class="fas fa-star"></i>
                                {% if post.rating.rating != 0 %}
                                {{ post.rating.rating }} <span style="color: #828282; font-size: 8pt"> / {{ post.rating.number }}</span>
                                {% else %}
                                    <span style="color: #828282; font-size: 8pt"> нет оценок </span>
                                {% endif %}
                            </p>
                        </div>

                        <p>{{ post.text|linebreaksbr|truncatechars:120 }}</p>

                        <div style="text-align: right">
                            <a class="btn btn-default" style="background: transparent; text-align: right"
                               href="{% url 'post_detail' post_pk=post.pk %}">
                                <span style="color: dimgrey"> Читать пост <i class="fas fa-angle-double-right"></i> </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
