{% extends 'post/base.html' %}

{% block content %}
        <div class="post">
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-default" href="{% url 'post_edit' post_pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'post_remove' post_pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
            <h1><a href="">{{ post.title }}</a></h1>
            <div class="date">
                <p> Создан: {{ post.created_date }}</p>
                <p> Автор: {{ post.author }}</p>
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="comments">
<!--                <a class="btn btn-default" href="{% url 'post_remove' post_pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>-->
                <h2> Comments </h2>
                {% for comment in comments %}
                    <p class="date"> Автор: {{ comment.author }}, Создан: {{ comment.created_date }}</p>
                    <p> Текст: {{ comment.text }}</p>
                {% endfor %}
            </div>
        </div>
{% endblock %}
