{% extends 'post/base.html' %}

{% block content %}

<div class="">
    <div>

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#description" aria-controls="home" role="tab" data-toggle="tab">
                    Рекомендации по лайкам
                </a>
            </li>
            <li role="presentation">
                <a href="#delivery" aria-controls="profile" role="tab" data-toggle="tab">
                    Рекомендации по просмотрам
                </a>
            </li>
            <li role="presentation">
                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                    Messages
                </a>
            </li>
            <li role="presentation">
                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                    Settings
                </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
                {% for post in posts_by_likes %}
            <!--        <div class="col-sm-6">-->
            <!--        <div class="col-sm-6 col-md-5">-->
                    <div class="card" style="width: 70rem;">
                        <div class="thumbnail" style="margin-bottom: 20px">
            <!--                <div class="card-body">-->
                            <div class="caption">
                                <div class="post" style="margin-bottom: 5px; padding-bottom: 5px">

                                    <h1><a href="{% url 'post_detail' post_pk=post.pk %}">{{ post.title }}</a></h1>

                                    {% if post.image %}
                                    <img src="{{post.image.url}}" class="img-responsive">
                                    {% endif %}

                                    <div class="date">
                                        <p>
                                            <i class="fas fa-user"></i> {{ post.author }} &nbsp
                                            <i class="far fa-calendar-alt"></i> {{ post.created_date }} &nbsp
                                            <i class="far fa-folder-open"></i> {{ post.category.category_name }}
                                        </p>
                                        <p> <i class="far fa-eye"></i> {{ post.view }} &nbsp
                                            <i class="fas fa-star"></i> вывести рейтинг
                                        </p>
                                    </div>

                                    <p>{{ post.text|linebreaksbr|truncatechars:120 }}</p>

                                    <div style="text-align: right">
                                        <a class="btn btn-default" style="background: transparent; text-align: right"
                                           href="{% url 'post_detail' post_pk=post.pk %}">
                                            <span style="color: dimgrey"> Читать пост <i class="fas fa-angle-double-right"></i> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="delivery">
                {% for post in posts_by_views %}
            <!--        <div class="col-sm-6">-->
            <!--        <div class="col-sm-6 col-md-5">-->
                    <div class="card" style="width: 70rem;">
                        <div class="thumbnail" style="margin-bottom: 20px">
            <!--                <div class="card-body">-->
                            <div class="caption">
                                <div class="post" style="margin-bottom: 5px; padding-bottom: 5px">

                                    <h1><a href="{% url 'post_detail' post_pk=post.pk %}">{{ post.title }}</a></h1>

                                    {% if post.image %}
                                    <img src="{{post.image.url}}" class="img-responsive">
                                    {% endif %}

                                    <div class="date">
                                        <p>
                                            <i class="fas fa-user"></i> {{ post.author }} &nbsp
                                            <i class="far fa-calendar-alt"></i> {{ post.created_date }} &nbsp
                                            <i class="far fa-folder-open"></i> {{ post.category.category_name }}
                                        </p>
                                        <p> <i class="far fa-eye"></i> {{ post.view }} &nbsp
                                            <i class="fas fa-star"></i> вывести рейтинг
                                        </p>
                                    </div>

                                    <p>{{ post.text|linebreaksbr|truncatechars:120 }}</p>

                                    <div style="text-align: right">
                                        <a class="btn btn-default" style="background: transparent; text-align: right"
                                           href="{% url 'post_detail' post_pk=post.pk %}">
                                            <span style="color: dimgrey"> Читать пост <i class="fas fa-angle-double-right"></i> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">...</div>
            <div role="tabpanel" class="tab-pane" id="settings">...</div>
          </div>

    </div>
</div>

{% endblock %}
