{% extends 'post/base.html' %}

{% block content %}
        <div class="post">
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-default" href="{% url 'post_edit' post_pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'post_remove' post_pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
            <h1><a href="">{{ post.title }}</a></h1>
            <div class="date">
                <p> Автор: {{ post.author }}</p>
                <p> Создан: {{ post.created_date }}</p>
            </div>
            <p>{{ post.text|linebreaksbr }}</p>

            <h2 style="margin-top: 60px;"> Comments </h2>
            <hr>
            <form action="{% url 'comment_new' post_pk=post.pk %}" method="POST" class="comment-form">{% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="save btn btn-default">Add new comment</button>
            </form>
            <hr style="margin-top: 60px;">
            <div class="comments">
                {% for comment in comments %}
                    <p class="date"> Автор: {{ comment.author }}, Создан: {{ comment.created_date }}</p>
                    <p> {{ comment.text }}</p>
                    {% if user.is_authenticated and user == comment.author %}
                    <a class="btn btn-default" href="{% url 'comment_edit' comment_pk=comment.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_remove' comment_pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                    <hr>
                {% empty %}
                    <p>No comments here yet :(</p>
                {% endfor %}
            </div>
        </div>
{% endblock %}
