{% extends 'shop/base_product.html' %}

{% block content %}

    {% for product in products %}
        <div class="card" style="width: 70rem;">
            <div class="thumbnail" style="margin-bottom: 20px">
                <div class="caption">
                    <div class="post" style="margin-bottom: 5px; padding-bottom: 5px">

                        <h1><a href=""> {{ product.name }}</a></h1>


                        <div class="date">
                            <p>
                                <i class="far fa-folder-open"></i>
                                {% for category in product.categories.all %}
                                {{ category.name }}
                                {% endfor %}
                                <br/>
                                Отзыв-оценка:
                                {% for review in product.reviews.all %}
                                {{ review.text }} - {{ review.value }};
                                {% endfor %}
                                <br/>
                                <i class="fas fa-star"></i>
                                {{ product.rating }}
                            </p>
                        </div>

                        <p> Цена: {{ product.price }}</p>
                        <p> Описание: {{ product.description|linebreaksbr|truncatechars:120 }}</p>

                        <div style="text-align: right">
                            <a class="btn btn-default" style="background: transparent; text-align: right"
                               href="">
                                <span style="color: dimgrey"> Подробнее <i class="fas fa-angle-double-right"></i> </span>
                            </a>
                             <a class="btn btn-default" style="background: transparent; text-align: right"
                               href="{% url 'add_to_basket' product_pk=product.pk %}">
                                <span style="color: dimgrey"> В корзину <i style="color: green" class="fas fa-cart-plus"></i> </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
